{
    "env": {
        "development": {
            "presets": [
                [
                    "babel-preset-env",
                    {
                        "useBuiltIns": "entry",
                        "debug": false,
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "ie 9"
                            ]
                        }
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                [
                    "babel-preset-env",
                    {
                        "useBuiltIns": "entry",
                        "debug": false,
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "ie 9"
                            ]
                        }
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "babel-preset-env",
                    {
                        "useBuiltIns": "entry",
                        "debug": false,
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "ie 9"
                            ]
                        }
                    }
                ]
            ]
        }
    }
}
