/cakephp/app/Config/database.php
/cakephp/app/Config/core.php

/cakephp/app/tmp/cache/cake_*
/cakephp/app/tmp/cache/*/*
!/cakephp/app/tmp/cache/*/empty
/cakephp/app/tmp/logs/*.log*
/cakephp/lib/Cake/Console/Templates/skel/tmp/
/cakephp/lib/Cake_*

*.mo
/.htpasswd
/logs
/stats
/rc.sh

/nbproject
.idea

.svn

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

node_modules

